body {
    padding: 20px;
}

.multiline {
    width: 100%;
    word-wrap: break-word;
    display: inline-block;
}

.rotating-icon {
    display: inline-block;
    animation: spin 1s infinite linear;
}

button {
  margin: 10px;
  font-family: inherit;
}

.fill {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 3px 5px 3px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.fill::after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes twist-up {
    to {
        transform: rotateX(360deg);
    }
}


@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

$colorTheme: #F5EFE1;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: $colorTheme;
  margin: 0;
}

.container {
  display: grid;
  place-items: center;
}

.btn {
  border: 1px solid darken($colorTheme, 15%);
  border-radius: 8px;
  cursor: pointer;
  min-width: 200px;
  min-height: 60px;
}

.myButton {
  @extend .btn;
  background: darken($colorTheme, 5%);
  color: darken($colorTheme, 60%);
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  position: relative;
  transform: skewX(20deg);
  
  
  &::before {
    @extend .btn;
    content: attr(data-label);
    background: $colorTheme;
    display: grid;
    place-items: center;
    position: absolute;
    top: -10px; left: 10px;
    z-index: -1;
    transition: all 0.5s ease;
  }
  
  &:hover {
      &::before {
      top: -1px; left: -1px;
    }
  }
  
  &:focus {
    outline: none;
  }
}
